*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
    border: 5px double black;
    border-radius: 50%;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 1.5rem;
    min-height: 100vh;
    width: 100vw;
    /* padding: 2rem; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(206, 217, 228);
    background-image: radial-gradient( rgb(206, 217, 228),rgb(180, 209, 180), rgb(154, 207, 209));
    position: relative;
}


header{
    background-color: #1e293b;
    border: 2px solid rgb(54, 54, 59) ;
    text-align: center;
    font-weight: bold;
    color: aliceblue;
    position: sticky;
    top: 0;
}
header h1{
    border-bottom: 1px solid black;
    background-color: rgb(59, 126, 214);
}
header .menu{
    min-height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
     
    
}

.menu a, a:visited,a:active{
    color: rgb(192, 179, 179);
    text-decoration: none;
   
}

.menu a:hover {
    color: rgb(211, 21, 21);
}

/* MAIN section */

main{
    display: flex;
    flex-direction: column;
 
    align-items: center;
    flex-grow: 1;
    gap: 1rem;
    padding: 1rem;
    
}
.card{
    scroll-margin-top:8rem ;
    width: min(100%, 350px);
    border: 2px solid black;
    background-color: rgb(223, 213, 199);
    background-image: radial-gradient( rgb(223, 213, 199),rgb(21 191 168 / 43%),rgb(148, 199, 195));
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 7px rgb(85, 79, 79);

}
figcaption{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0.6rem;
}
.card p{
    margin-top: 1rem;
}

footer{
    background-color: #1e293b;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0px;
    height: 30px;
}

@media screen and (min-width:576px) {
    main{
        flex-flow:row wrap ;
        justify-content: center;
        padding: 1rem;
    }
    .card{
        width: min(100%, 400px);
    }
}
@media screen and (min-width:768px) {
    main{
        flex-flow:row wrap ;
        justify-content: center;
        padding: 1rem;
    }
    .card{
        width: min(100%, 350px);
    }
}
@media screen and (min-width:1113px){
    main{
        flex-flow:row wrap ;
        justify-content: center;
        padding: 1rem;
        min-height: 87vh;
    }
    .card{
        width: min(100%, 350px);
    }
}